#shoebrand{
 width:200px;
 font-size: 50px;
}

#asell {
	color: black;
	text-align: center;
	text-decoration: none;
	margin-left: 80px;
	font-size: 40px;
}

#wants {
	color: black;
	text-align: center;
	text-decoration: none;
}

#all {
	color: black;
	text-align: center;
	text-decoration: none;
}

#alf {
	color: black;
	text-decoration: none;
	margin-left: 40px;
	font-size: 40px;
}

#allrow {
	margin-right: 25px;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 40%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-left: 400px;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
}
