#shoebrand{
 width:200px;
 font-size: 50px;
}

#asell {
	color: black;
	text-align: center;
	text-decoration: none;
	margin-left: 80px;
	font-size: 40px;
}

#wants {
	color: black;
	text-align: center;
	text-decoration: none;
}

#all {
	color: black;
	text-align: center;
	text-decoration: none;
}

#alf {
	color: black;
	text-decoration: none;
	margin-left: 40px;
	font-size: 40px;
}

#allrow {
	margin-right: 25px;
}