extends layout

block content
    h2(style = "text-align: center;", font size = "100").
        #{title}
    .row
        input#myInput(type='text', onkeyup='myFunction()', placeholder='Search for shoes for sale...')
    script.
        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    ul#myUL
        .row#allrow
            each shoe, i in shoelist
                .col-md-3
                    li
                        .panel.panel-default
                            .panel-heading#clr(style='font-size:150%; height:200px;')
                                a#all(href="/")= shoe.shoename
                                br
                                img(src=shoe.shoeimages, alt='N/A', style='width:250px;height:150px;')


