extends layout

block content
	h2(style = "text-align: center;", font size = "100").
		#{title}
	ul
		.row#allrow
			each shoe, i in shoelist
				.col-md-3
					.panel.panel-default
						.panel-heading(style='font-size:150%; height:200px;')
							a#all(href="/")= shoe.shoename
							br
							img(src=shoe.shoeimages, alt='N/A', style='width:250px;height:150px;')


