extends layout

block content
    .jumbotron
        h1(style = "text-align: center;", font size = "100").
            #{title}
    form#formAddItem(name="additem",method="post",action="/additem")
        .row
            div(align = "center")
                | Brand
                br
                select(name="shoebrand", id="shoebrand", required='')
                    option(value="Nike") Nike
                    option(value="Adidas") Adidas
        br
        .row
            div(align = "center")
                input(type='radio', name='shoecondition', value='Deadstock', checked='', required='')
                |  Deadstock
                br
                input(type='radio', name='shoecondition', value='Used', required='')
                |  Used
        br
        .row
            div(align = "center")
                | Name of the shoe
                br
                input#inputShoeName(type="text", placeholder="e.g Ultra Boosts, Yeezys..", name="shoename", required='')
        br
        .row
            div(align = "center")
                | Size
                br
                input#inputSize(type="number", placeholder="Size in US", name="shoesize", min='1', required='')
        br
        .row
            div(align = "center")
                | Upload image(s):
                br
                input(type='file', name='shoeimages', multiple='')
        br
        .row
            div(align = "center")
                | Price
                br
                input#inputSize(type="number", placeholder="Buy it Now Price", name="shoeprice", min='1', required='')
        br
        .row
            div(align = "center")
                | Additional Notes
                br
                textarea(name="notes", placeholder="Anything extra you want to say...",rows='4', cols='20')
        br
        .row
            div(align = "center")
                button#btnSubmit(type="submit") submit