extends layout

block content
	h2(style = "text-align: center;", font size = "100").
		#{title}
	ul
		.row#allrow
			each want, i in wantlist
				.col-md-3
					.panel.panel-default
						.panel-heading(style='font-size:150%; height:200px;')
							a#wants(href="/")= want.shoename